body {
    margin: 0;
    background-color: blanchedalmond;
}

.video-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    border: 2px solid red;
}


.video-container > * {
    width: 30%;
   
}


video {
    width: 100%;
    transition: transform 1s;
}

video:hover {
    transform: scale(1.3);
}